<div class="panel panel-primary">
	<div class="panel-footer clearfix">
		<div class="pull-left">Current items : {{items.length}}</div>
		<div class="pull-right">
			<button type="button" class="btn btn-primary" ng-click="refreshItems()">refresh</button> 
		</div>
	</div>
	<div class="panel-body">
		<div class="row" ng-repeat="item in items">
			<div class="col-md-2">{{(item._id || 'Not stored')}}</div>
			<div class="col-md-9">{{item.name}}</div>
			<div class="col-md-1"><p><button ng-click="removeItem(item)" class="btn-xs btn-warning">Remove</button></p></div>
		</div>
	</div>
</div>