<!-- list of items -->
<h1><span class="glyphicon glyphicon-th-list" /></span> Mean Wiki : Item List</h1>
<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<div class="pull-left">
			<p>number of items : <span class="badge">{{items.length}}</span></p>
		</div>
		<div class="pull-right">
			<button type="button" class="btn btn-primary" ng-disabled="!online" ng-click="refreshItems()">refresh <span class="glyphicon glyphicon-refresh"/> </button> 
		</div>
	</div>
	<div class="panel-body">
		<p><input class="form-control" ng-model="searchTerm" placeholder="search for items" /></p>
		<!-- TODO fileter for item.name only -->
		<div ng-repeat="item in items | filter:searchTerm">
			<h2>
				<a href="#/items/{{item.name}}">{{item.name}}</a>
				<small class="pull-right">
					{{item.syncStatus.message}} <span ng-class="'glyphicon glyphicon-' + item.syncStatus.status"></span>
				</small>
			</h2>
		</div>
	</div>
</div>