<p class="pull-right">
	<span ng-class="'glyphicon glyphicon-' + item.syncStatus.status"></span> {{item.syncStatus.message}}
</p>
<!-- single item -->
<h1>
	Mean Wiki : {{item.schema}} : {{item.name}} 
</h1>
<div ng-if="opStatus" ng-class="'alert alert-' + opStatus" role="alert">
		<strong>{{opStatus}}</strong> {{opMessage}}
</div>
<div class="panel panel-default" >
	<div class="panel-heading clearfix">
		<div ng-if="item.clientUpdate" class="pull-left">Saved at {{item.clientUpdate | date:'dd MMM yyyy HH:mm'}}</div>
		<div ng-if="item.serverUpdate && item.serverUpdate != item.clientUpdate" class="pull-left">, remotely at {{item.serverUpdate | date:'dd MMM yyyy HH:mm'}}</div>
		<div class="pull-right">
			<button ng-if="editing && item.id" ng-disabled="!online" class="btn btn-danger" ng-click="editing=!editing;removeItem()">remove <span class="glyphicon glyphicon-remove"/> </button>
			<button ng-if="editing" type="button" class="btn btn-default" ng-click="editing=!editing">cancel</button>
			<button ng-if="editing" type="button" class="btn btn-warning" ng-click="editing=!editing;saveItem()">save</button>
			<button ng-if="!(editing || !item.id || item.getSyncStatus().status != 'save')" ng-disabled="!online" class="btn btn-primary" ng-click="compareItem()">reload <span class="glyphicon glyphicon-refresh"/> </button> 
			<button ng-if="!(editing || item.getSyncStatus().status == 'save')" class="btn btn-primary" ng-click="editing=!editing">edit  <span class="glyphicon glyphicon-pencil"/> </button>
		</div>
	</div>
	<div class="panel-body">
		<form role="form">
			<fieldset ng-disabled="!editing">
				<div class="form-group">
					<label for="emailAddress">email address</label>
					<input type="email" class="form-control" id="emailAddress" ng-model="item.emailAddress" placeholder="email address">
				</div>
				<div class="form-group">
					<label for="mobileTelephone">mobile telephone</label>
					<input type="text" class="form-control" id="mobileTelephone" ng-model="item.mobileTelephone" placeholder="mobile">
				</div>
				<div class="form-group">
					<label for="homeAddress">home address</label>
					<input type="text" class="form-control" id="homeAddress" ng-model="item.homeAddress" placeholder="home address">
				</div>
				<div class="form-group">
					<label for="twitterHandle">twitter handle</label>
					<input type="text" class="form-control" id="twitterHandle" ng-model="item.twitterHandle" placeholder="twitter handle">
				</div>
				<div class="form-group">
					<label for="facebook">facebook</label>
					<input type="text" class="form-control" id="facebook" ng-model="item.facebook" placeholder="facebook">
				</div>
				<div class="form-group">
					<label for="notes">notes</label>
					<textarea class="form-control" id="notes" ng-model="item.notes" rows="20" placeholder="general notes for this person" ng-hide="!editing"></textarea>
					<div ng-hide="editing" class="panel-body" ng-bind-html="item.notes | wikify"></div>
				</div>
			</fieldset>
		</form>
	</div>
</div>