<!DOCTYPE html>
<html ng-app="wikiModule">
<head>
	<link rel="stylesheet" href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body role="document">
	<div class="container-fluid">
		<div ng-view></div>
	 </div>
</body>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-sanitize.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers-with-server-and-routes.js"></script>
<script type="text/ng-template" id="item-list.html">
<div class="panel panel-primary">
	<div class="panel-footer clearfix">
		<div class="pull-left">Current items : {{items.length}}</div>
		<div class="pull-right">
			<button type="button" class="btn btn-primary" ng-click="refreshItems()">refresh</button> 
		</div>
	</div>
	<div class="panel-body">
		<div class="row" ng-repeat="item in items">
			<div class="col-md-2">{{(item._id || 'Not stored')}}</div>
			<div class="col-md-9">{{item.name}}</div>
			<div class="col-md-1"><p><button ng-click="removeItem(item)" class="btn-xs btn-warning">Remove</button></p></div>
		</div>
	</div>
</div>
</script>
<script type="text/ng-template" id="item-detail.html">
<h1>My Wiki : {{name}}</h1>
<div class="panel panel-default" >
	<div class="panel-footer clearfix">
		<div class="pull-left">ID : {{_id}}</div>
		<div class="pull-right">
 			<button ng-hide="editing" type="button" class="btn btn-primary" ng-click="editing=!editing">edit content</button> 
			<button ng-show="editing" type="button" class="btn btn-default" ng-click="editing=!editing">cancel</button>
			<button ng-show="editing" type="button" class="btn btn-warning" ng-click="editing=!editing;saveItem()">save</button> 
			<button ng-hide="editing" type="button" class="btn btn-primary" ng-click="reloadItem()">reload</button> 
		</div>
	</div>
	<div ng-hide="editing" class="panel-body" ng-bind-html="content | wikify"></div>
	<textarea ng-show="editing" class="form-control" style="border-style:none;background-color:#fcf8e3;padding:15px;" 
	ng-model="content" rows="20" placeholder="enter Wiki text"></textarea>
</div>
</script>
</html>