<!DOCTYPE html>
<html ng-app="WikiModule">
<head>
	<link rel="stylesheet" href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body role="document">
	<div class="container-fluid" ng-controller="WikiController">
		<h1>My Wiki : {{pageName}}</h1>
		<div class="panel panel-default" >
			<div class="panel-footer clearfix">
				<div class="pull-right">
		 			<button ng-hide="editing" type="button" class="btn btn-primary" ng-click="editing=!editing">edit content</button> 
					<button ng-show="editing" type="button" class="btn btn-default" ng-click="editing=!editing">cancel</button>
					<button ng-show="editing" type="button" class="btn btn-warning" ng-click="editing=!editing;savePage()">save</button> 
				</div>
			</div>
 			<div ng-hide="editing" class="panel-body" ng-bind-html="wikiText | wikify"></div>
			<textarea ng-show="editing" class="form-control" style="border-style:none;background-color:#fcf8e3;padding:15px;" ng-model="wikiText" rows="20" placeholder="enter Wiki text"></textarea>
		</div>
	</div>
</body>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-sanitize.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="js/controllers.js"></script>
</html>